-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
%body
  %noscript
    = image_tag 'logo.svg', alt: 'ee' 
  .single-container
    %header.single-header
      %h1.header
        = link_to root_path, class:'link' do
          = image_tag 'logo.svg', alt: 'mercari', class: 'mercari'
        %nav.progress-bar.singup-bar
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration 会員情報入力
        = form_for @user, url: user_registration_path , html: {class: 'l-single-inner'} do |f|
          %input(type="hidden")
          .l-single-content
            .form-group.nickname
              = f.label :nickname, "ニックネーム"
              %span.form-require 必須
              = f.text_field :nickname, placeholder:"例）メルカリ太郎", class:"input-default"
            .form-group.email
              = f.label :email, "メールアドレス"
              %span.form-require 必須
              = f.email_field :email, placeholder:"pc・携帯どちらでも可", class:"input-default"
              %input(type="hidden")
            .form-group.form-password-revelation
              = f.label :password, "パスワード"
              %span.form-require 必須
              = f.password_field :password, placeholder:"7文字以上の半角英数", class:"input-default"
              %p.form-info-text
                ※ 英字と数字の両方を含めて設定してください
              = f.label :password_confirmation, "パスワード再確認"
              %span.form-require 必須
              = f.password_field :password_confirmation, placeholder:"7文字以上の半角英数", class:"input-default"
              .form-password-revelation-taggle
                .form-password-revelation-revealed-password-container
                  %span.form-password-revelation-revealed-password
            .form-group.confirmation
              %h3.text-left 本人確認
              %p.l-single-text
                安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客様に公開されることはありません。
            .form-group.name-kanji
              %div
                = f.label "お名前",class:"kanji"
                %span.form-require 必須
              = f.text_field :last_name, placeholder:"例） 山田", class:"input-default half1"
              = f.text_field :first_name, placeholder:"例） 彩", class:"input-default half2"
            .form-group.name-kana
              %div
                = f.label "お名前カナ(全角)",class:"kana"
                %span.form-require 必須
              = f.text_field :last_name_kana, placeholder:"例） ヤマダ", class:"input-default half3"
              = f.text_field :first_name_kana, placeholder:"例） アヤ",class:"input-default half4"
            .form-group.birthday
              = f.label :birthday, "生年月日",class:"tanjyoubi"
              %span.form-require 必須 
              %br/
              .birthday-select-wrap
                .select-wrap
                  %i.icon-arrow-bottom
                  != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
                  -# != sprintf(f.date_select(:birthday))
              %input(type="hidden")
              .clearfit
              %p.form-info-text
                ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合があります。
          .l-single-content2
            %input(type="hidden")
            = f.submit "次へ進む",class:"submit"
            .form-group.text-right
              %p
                = link_to "#", class:"identitiy" do
                  本人情報の登録について
                  %i.icon-arrow-right
            .form-group.receptcha_term
              %p 
                This site is protected by reCAPTCHA and the Google 
                = link_to "#",class:"privacy" do
                  Privacy Policy 
                and
                = link_to "#", class:"terms-service" do
                  Terms of Service 
                apply.
    %footer.single-footer
      %nav
        %ul.clearfit
          %li
            = link_to "#", class:"privacy-kana" do
              プライバシーポリシー
          %li
            = link_to "#", class:"mercari-kiyaku" do
              メルカリ利用規約
          %li
            = link_to "#", class:"hyouki" do
              特定商取引に関する表記
      = link_to "#",clas:"logo-footer2" do
        = image_tag 'logo-gray.svg', alt: '', height: '', width: '', class: 'logo-gray2'
      %p
        %small ©FURIMA          