%header.pcHeader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to root_path do
          = image_tag 'logo-.svg', alt: 'icon'
      .searchBox
        = form_with url: '#', method: :get, local: true do |f|
          = f.text_field :searchInput, name: "key", class: "searchBox--input", placeholder: "キーワードから探す"
          %button{type: "submit"}
            .searchBox__icon
              = image_tag 'icon-search.svg', alt: 'icon'
      %ul.resultLists
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          = link_to '#', id: "catBtn" do
            カテゴリー
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree--item
                = link_to '#', id: "1" do
                  レディース
              %li.categoryTree--item
                = link_to '#', id: "2" do
                  メンズ                
              %li.categoryTree--item
                = link_to '#', id: "3" do
                  ベビー・キッズ
              %li.categoryTree--item
                = link_to '#', id: "4" do
                  インテリア・住まい・小物
              %li.categoryTree--item
                = link_to '#', id: "5" do
                  本・音楽・ゲーム
              %li.categoryTree--item
                = link_to '#', id: "6" do
                  おもちゃ・ホビー・グッズ
              %li.categoryTree--item
                = link_to '#', id: "7" do
                  コスメ・香水・美容
              %li.categoryTree--item
                = link_to '#', id: "8" do
                  家電・スマホ・カメラ                  
              %li.categoryTree--item
                = link_to '#', id: "9" do
                  スポーツ・レジャー
              %li.categoryTree--item
                = link_to '#', id: "10" do
                  ハンドメイド
              %li.categoryTree--item
                = link_to '#', id: "11" do
                  チケット
              %li.categoryTree--item
                = link_to '#', id: "12" do
                  自動車・オートバイ
              %li.categoryTree--item
                = link_to '#', id: "13" do
                  その他
        %li.listsLeft__item
          = link_to '#', id: "brandBtn" do
            ブランド
          %ul.brandsPulldown.displayNone
      %ul.listsRight
      - if user_signed_in?
        %li.listsRight__item.listsRight__item--login
          = link_to destroy_user_session_path, method: :delete do
            ログアウト
        %li.listsRight__item.listsRight__item--new    
          = link_to '/mypages' do
            マイページ
      - else
        %li.listsRight__item.listsRight__item--login
          = link_to new_user_session_path do
            ログイン
        %li.listsRight__item.listsRight__item--new
          = link_to new_login_path do
            新規会員登録