.payment-wrapper
  = render 'mypages/side_bar'

  .contents
    .contents-head
      %h2 クレジットカード情報入力

    .contents__credit-card
      .contents__credit-card__number
        = form_with url: "#", method: :post, html: { name: "inputForm" } do |f|
          = f.label :カード番号, class: 'label'
          %span 必須
          %br
          = f.text_field :card_number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
 
          .contents__credit-card__expiration
            = f.label :有効期限, class: 'label'
            %span 必須