= render "toppages/header"
.mypage-wrapper
  = render 'mypages/side_bar'

  .contents
    .mypage-info-wrapper
      .mypage-contents__userinfo-head
        %h2 ユーザー登録情報
      .mypage-contents__userinfo-wrapper
        .mypage-contents__userinfo-wrapper__name
          %h1.info お名前
          = @destination.ship_last_name
          = @destination.ship_first_name
          %br
        .mypage-contents__userinfo-wrapper__kananame
          %h1.info お名前カナ
          = @destination.ship_last_name_kana
          = @destination.ship_first_name_kana
        .mypage-contents__userinfo-wrapper__birthday
          %h1.info 生年月日
          //gsub!メソッドは文字列の中の指定の文字を変換する。
          //第一引数を第二引数に変換する。
          = @user.birthday.to_s.gsub!("-","/")
        .mypage-contents__userinfo-wrapper__zipcode
          %h1.info 郵便番号
          = "〒" + @destination.zip_code.to_s.insert(3, '-')
        .mypage-contents__userinfo-wrapper__address
          %h1.info 配送先住所
          = @destination.prefecture + @destination.address + @destination.second_address
          = @destination.building_name
        .mypage-contents__userinfo-wrapper__phone_number
          %h1.info 連絡先(携帯電話)
          = "0" + @destination.phone_number.to_s[0..1] + "-" + @destination.phone_number.to_s[2..5] + "-" + @destination.phone_number.to_s[6..9]
        .mypage-contents__userinfo-wrapper__email
          %h1.info メールアドレス
          = @user.email

= render "toppages/footer"
= render "toppages/purchaseBtn"