//購入完了画面
.done__wrapper

  .done__wrapper__box

    .done__wrapper__box__heading
      %h2 商品の購入が完了しました
    .done__wrapper__product-information
      = "商品名" + "#{@item.item_name}"
      %br
      = "¥"+"#{(@item.price / 0.9).floor}"+"(税込)"
      %br
      %br
      = link_to "トップページへ戻る", root_path(current_user)