= render "/toppages/header"
.wrapper
  .main
    .main__purchase-details
      .main__purchase-details__headline-box
        .main__purchase-details__headline-box__headline
          %h1 購入内容の確認

        .main__purchase-details__product
          .main__purchase-details__product__image-box
            .main__purchase-details__product__image-box__image
              //商品の画像
              = image_tag(@item.images.first.image.url, class: 'product-image')
          .main__purchase-details__product__name-box
            .main__purchase-details__product__name-box__name
              //商品の名前
              %h1 商品名
              .main__purchase-details__product__name-box__name__itemname
                = @item.item_name
            .main__purchase-details__product__name-box__price
              = "¥"+"#{(@item.price / 0.9).floor}"+"(税込)"

        .main__purchase-details__method-of-payment
          %h1 支払い方法
          .main__purchase-details__method-of-payment__card
            %p.card クレジットカード
            = "カード番号：""**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            %br
            = "有効期限：" + exp_month + " / " + exp_year

        .main__purchase-details__shipping-address
          %h1 配送先住所
          //3桁目と４桁目にハイフンをいれる
          .main__purchase-details__shipping-address__wrapper
            = "〒" + @destination.zip_code.to_s.insert(3, '-')
            %br
            = @destination.prefecture
            = @destination.address
            = @destination.second_address
            %br
            = @destination.building_name
            

        .main__purchase-details__buybtn-field
          .main__purchase-details__buybtn-field__buybtn
            = form_tag(action: :pay, method: :post) do
              %button.text-decoration 購入する
= render "/toppages/footer"