.ExhibitionWrapper
  .ExhibitionHeader
    = link_to image_tag('logo.svg', alt: 'ヘッダーロゴ'), root_path, class: "ExhibitionHeaderLogo"
  .ExhibitionBox
    = form_with model: @item, local: true, class: "ExhibitionForm" do |f|
      .ImageForm
        .ImageLabel
          %label 出品画像
          %span 必須
        %p.ImageInfo 最大5枚までアップロードできます
        #image-box-1{class:"#{@images.last.id}"}
          - @images.each do |img|
            .item-image{id:img.id}
              = image_tag(img.image.url)
              .item-image__operetion
                .item-image__operetion--edit__delete__hidden 削除
          %label.img-label{for: "img-file"}
            = icon('fas', 'camera', class: 'EditUploadCamera')
            .displayhide
              #image-box__container{class:"item-num-#{@images.length}"}
                #append-js-edit
                  = f.fields_for :images do |image|
                    .js-file_group{"data-index" => "#{image.index}"}
                      = image.file_field :image, type: 'file', value:"#{image.object.id}",style: "",  id:"img-file", class:'js-file-edit',name: "item[images_attributes][#{@item.images.count}][image]", data:{index:""}
      .ExplanationForm
        .FormLabel
          %label 商品名
          %span 必須
        = f.text_field :item_name, placeholder:"40文字まで", class: "InputForm"
        .FormLabel
          %label 商品の説明
          %span 必須
        = f.text_area :description, class: "InputForm-TextArea"
        .WordCountBox
          %span.WordCount 0/1000
      .DetailsForm
        %p.DetailsTitle 商品の詳細
        .FormLabel
          %label カテゴリー
          %span 必須
        .CategoryBox
          .CategoryBoxChoose
            - if @category_id == 46 or @category_id == 74 or @category_id == 134 or @category_id == 142 or @category_id == 147 or @category_id == 150 or @category_id == 158
              .append__category
                .category
                  =f.collection_select :category_id, @category_children_array, :id, :name, {selected:@child_array}, {class:"serect_field",id:'parent_category'}
                  =f.collection_select :category_id, @category_grandchildren_array, :id, :name, {selected:@grandchild_array}, {id:"child__category",class:"serect_field"}
            - else
              .append__category
                .category
                  =f.collection_select :category_id, @category_parent_array, :id, :name,{selected:@parent_array}, {class:"serect_field",id:'parent_category'}   
                .category__child#children_wrapper
                  =f.collection_select :category_id, @category_children_array, :id, :name, {selected:@child_array}, {id:"child__category", class:"serect_field"}
                .category__grandchild#grandchildren_wrapper
                  =f.collection_select :category_id, @category_grandchildren_array, :id, :name, {selected:@grandchild_array}, {class:"serect_field"}
        .FormLabel
          %label ブランド
          %span.other-span 任意
        = f.text_field :brand, placeholder:"例） シャネル",  class: "InputForm"
        .FormLabel
          %label 商品の状態
          %span 必須
        .ConditionBox
          = f.collection_select :condition_id, Condition.all, :id, :name,{include_blank: "選択してください"}, {class: "SelectForm"}
      .ShippingForm
        .AboutShip
          %p.ShipLink 配送について
          =link_to '#', class: "HelpLink" do
            = icon('far', 'question-circle', class: 'LinkIcon')
        .FormLabel
          %label 配送量の負担
          %span 必須
        .PostagePayerBox
          = f.collection_select :postage_id, Postage.all, :id, :name,{include_blank: "選択してください"}, {class: "SelectForm"}
        .FormLabel
          %label 発送元の地域
          %span 必須
        .ShipFromBox
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name,{include_blank: "選択してください"}, {class: "SelectForm"}
        .FormLabel
          %label 発送までの日数
          %span 必須
        .ShipPreparationBox
          = f.collection_select :preparation_id, Preparation.all, :id, :days,{include_blank: "選択してください"}, {class: "SelectForm"}
      .PriceForm
        .PriceBox
          .PriceTitle
            .PriceRange 価格（¥300〜9,999,999）
            =link_to '#', class: "AboutPriceLink" do
              = icon('far', 'question-circle', class: 'LinkIcon')
          .PriceSelectBox
            .PriceLabelBox
              %label 販売価格
              %span 必須
            .Yen ¥
            .PriceFormBox
              %input#price_calc.PriceSelect{type: "number", value: (@item.price / 0.9).floor}
        .SalesCommissionBox
          .CommissionTitle
            %p 販売手数料（10%)
          .SalesCommission
        .SalesProfit
          .CommissionTitle
            %p 販売利益
          = f.number_field :price, style: "display: none", id: "price"
          .SalesCommission_2
      .ExhibitionButtons
        = f.submit '再投稿する',class:'ExhibitionBTN'   
        = f.submit '下書きに保存', class: 'SaveBTN'
        = link_to 'もどる', '#', class: 'BackLink'
      .AttentionBox
        .AttentionText
          禁止されている
          = link_to '行為', '#'
          および
          = link_to '出品物', '#'
          を必ずご確認ください。
          = link_to '偽ブランド品', '#'
          や
          = link_to '盗品物', '#'
          などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
          = link_to '加盟店規約', '#'
          に同意したことになります。
  .ExhibitionFooter
    %ul.Info
      %li
        = link_to 'プライバシーポリシー', '#'
      %li.CenterInfo
        = link_to 'フリマ利用規約', '#'
      %li
        = link_to '特定商取引に関する表記', '#'
    = link_to image_tag('logo-white.svg', alt: 'フッターロゴ', width: 214, height: 62), "/", class: "ExhibitionFooterLogo"