= render "toppages/header"

.main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            商品名 
            = @item.item_name
          .itemBox__body
            %ul.ul1
              = render partial: 'item' ,locals: {item: @item}
            %ul.ul2
              - @item.images.each do |image|
                %li.li1
                  = image_tag image.image.url, class: "image2"
          .itemBox__price
            %span1
              = (@item.price / 0.9).floor
              円
            .priceDetail
              %span
                (税込み)
              %span
                送料込み
          .itemDetail
            = @item.description
          .table
            %table
              %tr
                %th 出品者
                %td 
                  = @user.nickname
              %tr
                %th カテゴリー
                %td 
                  = link_to "#" do
                    = @item.category&.parent&.parent&.name
                    %br/
                  = link_to "#" do
                    = @item.category&.parent&.name
                    %br/
                  = link_to "#" do
                    = @item.category&.name
                    %br/
              %tr
                %th ブランド
                %td
                  = @item.brand
              %tr
                %th 商品のサイズ
                %td 
              %tr
                %th 商品の状態
                %td 
                  = @item.condition.name
              %tr
                %th 配送料の負担
                %td 
                  = @item.postage.name
              %tr
                %th 発送元の地域
                %td 
                  = link_to "#" do
                    = @item.prefecture.name    
                  %br/
              %tr
                %th 発送元の目安
                %td 
                  = @item.preparation.days
          .optionalArea 
            %ul
              %li.likeBtn#likeBtn
                %i.fa.fa-star 
                  お気に入り 0
            %ul.optional
              %li.optionalBtn 
                = link_to "#" do
                  %i.fa.fa-flag
                  不適切な商品の通報
          -if user_signed_in? && current_user.id == @item.user_id
            .my_page_btn
              = link_to "商品の編集", edit_item_path(@item.id), class:"edit_btn"
              = link_to "商品の削除", item_path, method: :delete, class: "destroy_btn"         
          -elsif @item.buyer_id.present?
            .purchase
              = link_to "残念！売切れました", root_path, class: "disabled-button"                
          -else
            .purchase
              = link_to "商品の購入", purchase_path, class:"purchase_btn"             
        .commentBox
          %ul.commentContents
          = form_with url:"#", local: true, class: "new_comment" do |f|
            = f.text_area :comment,class: "textarea"
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.submit 'コメントする',class: 'commentBtn' do
              %i.fa.fa-comment
              コメントする
      %ul.links
        %li.right
          = link_to "#" do
            %i.fa.fa-angle-left
            %span
              前の商品
        %li.left
          = link_to "#" do
            %span 
              後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        =link_to "#" do
          ベビー・キッズをもっと見る
      .productLists
        .productList
          = link_to "/products/8", class: 'link' do
            %figure.productList--img
              = image_tag 'a007.png', alt: 'sakana', class: 'img'
              .productList--body
                %h3.name product3
                .details
                  %ul
                    %li 3000円
                    %li
                      %i.fa.fa-star.lekeIcon 0
                  %p 税込

= render "toppages/footer"
= render "toppages/purchaseBtn"
