.payment-wrapper
  = render 'mypages/side_bar'

  .contents-head
    .contents-title
      %h2 クレジットカード情報入力
    .contents__credit-card-wrapper
      .contents__credit-card
        .contents__credit-card__number
          //カード番号入力フォーム
          = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
            %label カード番号
            %span.required 必須
            = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
            %br
            //ブランドロゴ
            %ul.card-list
              %li 
                = image_tag "/material/icon/visa.svg", size: "49x20"
              %li
                = image_tag "/material/icon/master-card.svg", size: "34x20"
              %li
                = image_tag "/material/icon/saison-card.svg", size: "30x20"
              %li
                = image_tag "/material/icon/jcb.svg", size: "32x20"
              %li
                = image_tag "/material/icon/american_express.svg", size: "21x20"
              %li
                = image_tag "/material/icon/dinersclub.svg", size: "32x20"
              %li
            .contents__credit-card__expiration
            //カード有効期限入力フォーム
            %label 有効期限
            %span.required 必須
            %br
              .contents__credit-card__expiration__wrap
                %select#exp_month{name: "exp_month", type: "text", class: 'input-expiration'}
                  %option{value: ""} --
                  %option{value: "1"}01
                  %option{value: "2"}02
                  %option{value: "3"}03
                  %option{value: "4"}04
                  %option{value: "5"}05
                  %option{value: "6"}06
                  %option{value: "7"}07
                  %option{value: "8"}08
                  %option{value: "9"}09
                  %option{value: "10"}10
                  %option{value: "11"}11
                  %option{value: "12"}12
                %span 月
                %select#exp_year{name: "exp_year", type: "text", class: 'input-expiration'}
                  %option{value: ""} --
                  %option{value: "2019"}19
                  %option{value: "2020"}20
                  %option{value: "2021"}21
                  %option{value: "2022"}22
                  %option{value: "2023"}23
                  %option{value: "2024"}24
                  %option{value: "2025"}25
                  %option{value: "2026"}26
                  %option{value: "2027"}27
                  %option{value: "2028"}28
                  %option{value: "2029"}29
                %span 年
                %br
            .contents__credit-card__security-code
              %label セキュリティコード
              %span.required 必須
              %br
              = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
              #card_token
            .content-bottom
              = submit_tag "追加する", id: "token_submit",class: "add-btn"
